<html>
    <head>
        <title>devPage GEAPROS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- biblioteca angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script> 
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body style="margin:20px auto; width:85%;" ng-controller="pgpCtrl">
        <div class="panel panel-primary">
            <h1 class="panel-heading" style="margin:0; margin-bottom:15px; text-align:center;">GEAPROS</h1>

            <h3>Informe de cierre de proyecto:</h3>
            <p style="text-align: center">ID proyecto: {{proyecto.idProyecto}}</p>
            <p style="text-align: center">Descripción: {{proyecto.desripcion}}</p>
            <h3>Actividades retrasadas:</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID actividad</th>
                        <th>Descripción</th>
                        <th>Duración estimada (HH)</th>
                        <th>Duración real (HH)</th>
                        <th>Retraso (HH)</th>
                            
                    </tr>
                </thead>
                    <tbody>
                        <tr ng-repeat="act in actividadesRetrasadas">
                            <td ng-if="act.duracionReal">{{act.actividadPK.idActividad}}</td>
                            <td ng-if="act.duracionReal">{{act.descripcion}}</td>
                            <td ng-if="act.duracionReal">{{act.duracionEstimada}}</td>
                            <td ng-if="act.duracionReal">{{act.duracionReal}}</td>
                            <td ng-if="act.duracionReal">{{act.duracionReal-act.duracionEstimada}}</td>   
                        </tr> 
                    </tbody>
            </table>
            
            <div class="panel-body">   
                <button class="btn btn-primary" ng-click="cerrarSesion()">Atrás</button>
            </div>
        </div>
    </body>
</html>
