<html>
    <head>
        <title>devPage GEAPROS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- biblioteca angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script> 
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body style="margin:20px auto; width:85%;" ng-controller="pgpCtrl">
        <div class="panel panel-primary">
            <h1 class="panel-heading" style="margin:0; margin-bottom:15px; text-align:center;">GEAPROS</h1>
            
        <div><h3>Informes Pendientes</h3>
                <table class="table table-striped table-bordered">
                    <thead> <tr>
                            <th>Trabajador</th>
                            <th>ID actividad</th>
                            <th>Semana</th>
                            <th>Comentario</th>
                            <th>Horas invertidas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="esf in inforPendientes">
                            <td>{{esf.esfuerzosemanalPK.dni}}</td>
                            <td>{{esf.esfuerzosemanalPK.idActividad}}</td>
                            <td>{{esf.esfuerzosemanalPK.numSemana}}</td>
                            <td>{{esf.comentario}}</td>
                            <td>{{esf.horasInvertidas}}</td>
                        </tr> 
                    </tbody>
                </table></div>
            <div class="panel-body">   
                <button class="btn btn-primary" ng-click="atrasInf()">Atrás</button>
            </div>
        </div>
    </body>
</html>
